<h1>All Movie Lists</h1>
<br>
<%@lists.each do |item| %>
<ul>
<li><%= link_to item.name, "lists/#{item.id}" %></li>
</ul>
<% end %>

<%=link_to "Create new List", "/lists/new" %>

<%= cl_image_tag("reqqcjjwr84ee9rbnvek",
      width: 400, height: 300, crop: :fill) %>

<%= cl_image_tag("almyura8naspinemci5x",
      width: 150, height: 150, crop: :thumb, gravity: :face) %>