<br>
<br>
<div class=movie-list-title>
  <h2>You have <%= @lists.count %> movie lists</h2>
  <button type="button" class="btn btn-dark"><%=link_to "New List", "/lists/new" %></button>
</div>

<div class = "card-container">
  <%@lists.each do |item| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
      url('<%= cl_image_path item.photo.key %>')">
      <%= link_to item.name, "lists/#{item.id}" %>
    </div>
  <% end %>
</div>
