// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";
@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,700,800");

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

html,
body {
  margin: 0;
  background: black;
  color: white;
  font-family: "Montserrat", helvetica, arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 900px;
}

h1 {
  color: white;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 250px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transition: all 0.4s;
  &:hover {
    transform: scale(1.02);
    transition: all 0.4s;
  }
}

li {
  list-style: none;
  text-decoration: none;
}

a {
  color: white;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  &:hover {
    text-decoration: none;
    color: white;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background: url("https://i.imgur.com/shPPhft.jpeg");
  text-align: center;
  width: 100%;
  height: 350px;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  border-radius: 0 0 85% 85% / 30%;
  h1 {
    padding-top: 60px;
  }
}
header .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #fff;
  text-shadow: 1px 1px 1px rgb(39, 39, 39);
  background-image: linear-gradient(135deg, #00000069 10%, #0000006b 100%);
}

h1 {
  font-size: 80px;
  margin-bottom: 30px;
}

h3,
p {
  margin-bottom: 30px;
}

.row {
  display: inline-flex;
  width: 100%;
}
