// Place all the styles related to the Lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*  movie lists */
.movie-list-title {
    animation: 1s ease 0s normal forwards 1 fadein;
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: 0 auto;
    margin-bottom: 5px;
}

.list-date {
  text-align: left;
  padding-left: 189px;
  margin-bottom: 20px;
}
